<template>
  <ul if.bind="w6.userInfo.id">
    <li> <a href="/me">Home</a> </li>
    <li> <a href="/u/${w6.userInfo.slug}">Profile</a> </li>
    <li>
      <button type="button" class="anchor" click.delegate="logout()">
        <span>Logout</span>
      </button>
    </li>
  </ul>

  <ul if.bind="!w6.userInfo.id">
    <li>
      <a class="register" href="${w6.url.connectSsl}/register" click.delegate="w6.openRegisterDialog($event); $event.preventDefault()">Register</a>
    </li>
    <li>
      <a class="login" click.delegate="login.login(); $event.preventDefault()">Login</a>
    </li>
  </ul>
</template>
