css/**/*.css
css/**/*.css.map
fonts/**/*.css
fonts/**/*.css.map
fonts/auth
fonts/play
fonts/connect
fonts/admin
fonts/kb
js/*.js
js/vendor/*.js
**/*.css
**/*.js
**/*.js.map
bower_components/
aurelia/dist
aurelia/jspm_packages
!aurelia/*.js
