<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    <caching enabled="false" />
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
      <!-- <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" /> -->
    </staticContent>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto">
      <clear />
    </httpErrors>
  </system.webServer>
</configuration>
