<div class="popover manage-link">
    <div class="arrow"></div>
    <div class="popover-title">
        <b>Are you sure?</b>
    </div>
    <div class="popover-content">
        <span>
            &nbsp;
        </span>
    </div>
    <div class="popover-content popover-bottom">
        <div class="btn" style="visibility: hidden">&nbsp;</div>
        <div class="pull-right">
            <button class="btn btn-sx-save" ng-click="item.entityAspect.setDeleted();$hide();">Accept</button>
        </div>
        <div class="pull-right">
            <button class="btn btn-sx-cancel btn-sx-right" ng-click="$hide()">Nevermind</button>
        </div>
    </div>
</div>