<div class="container content-inner">
    <div class="row">
        <div class="col-sm-8">
            <section class="tile"
                     ng-if="!tokenKnown">
                <h2>The token supplied is unknown to our system.</h2>
                <p>
                    It may have been expired or used.
                    There might also be an mistake during copying the link from you email,
                    please confirm that the link has been copied in full.
                </p>
            </section>

            <section class="tile"
                     ng-if="tokenKnown">
                <h2>Reset password</h2>

                <div class="form-message form-message-passed" ng-if="success">
                    <p>You have a new password!</p>
                </div>

                <form ng-if="!success"
                      sx-validate-on-submit="submit()"
                      sx-validate-on-blur
                      name="resetPasswordForm">
                    <fieldset ng-disabled="processing">
                        <sx-password-field model="model.password"
                                           confirm-model="model.confirmPassword"></sx-password-field>

                        <p>
                            <button type="submit" class="btn"
                                    http-progress="resetPassword"
                                    http-processing="processing"
                                    http-pending="Resetting..."
                                    http-success="Reset!"
                                    http-single-use="t"
                                    http-error="Failed...">
                                <span class="icon icon-arrow-right"></span>
                                Submit
                            </button>
                        </p>
                    </fieldset>
                </form>
            </section>
        </div>
    </div>
</div>