<div class="form-message form-message-passed" ng-if="success">
    <p>We sent you a link to create a new password</p>
</div>

<form name="passwordResetForm"
      ng-if="!success"
      sx-validate-on-submit="submit()"
      sx-validate-on-blur>
    <fieldset>
        <sx-email-field model="model.email"></sx-email-field>

        <button class="btn"
                type="submit"
                ng-disabled="processing"
                http-progress="forgotPassword"
                http-processing="processing"
                http-pending="Processing..."
                http-success="Processed!"
                http-single-use="t"
                http-error="Failed...">
            <span class="icon icon-arrow-right"></span>
            Send me a new password
        </button>
    </fieldset>
</form>