<h2>Your credential settings</h2>

<form name="credentialsSettingsForm"
      sx-validate-on-submit="save(credentialsSettingsForm)"
      sx-validate-on-blur>
    <div class="form-group">
        <label for="userName" class="control-label">Username (read only):</label>
        <input id="userName" type="text" readonly="true" ng-readonly="true"
               ng-model="model.userName" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="email" class="control-label">Email:</label>
        <input id="email" type="email"
               ng-model="model.email" class="form-control"/>
    </div>

    <!-- <div class="form-group">
        <label for="phoneNumber" class="control-label">Phone number:</label>
        <input id="phoneNumber" type="text"
               ng-model="model.phoneNumber" class="form-control"/>
    </div>-->

    <div ng-if="!model.emailConfirmed">
        <i>Please enter a valid email and confirm (activate) it to unlock other settings</i>
        <a href="/login/verify">Click here to start activation</a>
        <br/><br/>
    </div>

    <div ng-if="model.emailConfirmed && !model.hasPassword">
        <i>Please generate a password to unlock other settings</i>
        <br/>
        <button class="forgot-password"
                type="button"
                ng-click="openForgotPasswordDialog()">
            <span>Generate Password</span>
        </button>
        <br/><br/>
    </div>

    <div ng-if="model.emailConfirmed && model.hasPassword">
        <sx-password-field model="model.newPassword"
                           not-equals="[model.email, model.userName]"
                           confirm-model="model.confirmNewPassword"></sx-password-field>

        <p>
            <i>Due to security reasons please re enter your original password.</i>
        </p>

        <div class="form-group" ng-class="{ 'has-error has-feedback' : isInvalid(credentialsSettingsForm.currentPassword) }">
            <label for="currentPassword">Current Password</label>
            <input type="password"
                   name="currentPassword" id="currentPassword"
                   required
                   ng-model="model.currentPassword" class="form-control"/>
            <sx-validation-messages label="label" field="credentialsSettingsForm.currentPassword"/>
        </div>
    </div>

    <button type="submit"
            class="btn btn-success"
            ng-disabled="!credentialsSettingsForm.$dirty || processing"
            http-progress="saveMeSettingsCredentials"
            http-processing="processing"
            http-pending="Processing..."
            http-success="Succeeded!"
            http-error="Failed...">
        <span class="icon icon-arrow-right"></span>
        Save
    </button>

    <div class="form-response bg-danger" ng-if="response && !response.success">
        {{response.message}}<br/>
        <div ng-repeat="(k, v) in response.errors">
            <span ng-repeat="msg in v">{{msg}}</span><br/>
        </div>
    </div>
</form>

<div ng-if="model.emailConfirmed && model.hasPassword">
    <h3>Other options</h3>
    <form name="credentialsSettingsOtherForm"
          sx-validate-on-submit="saveOther(credentialsSettingsOtherForm)"
          sx-validate-on-blur>

        <div class="form-group">
            <input id="twoFactor" type="checkbox"
                   ng-model="modelOther.twoFactorEnabled"/>
            &nbsp;
            <label for="twoFactor" class="control-label">Enable TwoFactor authentication</label>
        </div>

        <p>
            <i>Due to security reasons please re enter your original password.</i>
        </p>

        <div class="form-group" ng-class="{ 'has-error has-feedback' : isInvalid(credentialsSettingsOtherForm.currentPassword) }">
            <label for="currentPassword">Current Password</label>
            <input type="password"
                   name="currentPassword" id="currentPassword"
                   required
                   ng-model="modelOther.currentPassword" class="form-control"/>
            <sx-validation-messages label="'current password'" field="credentialsSettingsOtherForm.currentPassword"/>
        </div>

        <div>
            <button class="forgot-password"
                    type="button"
                    ng-click="openForgotPasswordDialog()">
                <span>Reset Password</span>
            </button>
        </div>

        <button type="submit"
                class="btn btn-success"
                ng-disabled="!credentialsSettingsOtherForm.$dirty || processing"
                http-progress="saveMeSettingsCredentialsOther"
                http-processing="processing"
                http-pending="Processing..."
                http-success="Succeeded!"
                http-error="Failed...">
            <span class="icon icon-arrow-right"></span>
            Save
        </button>

        <div class="form-response bg-danger" ng-if="response && !response.success">
            {{response.message}}<br/>
            <div ng-repeat="(k, v) in response.errors">
                <span ng-repeat="msg in v">{{msg}}</span><br/>
            </div>
        </div>
    </form>

    <h3>Connect sign-in services</h3>
    <div class="form-group">
        <div ng-if="model.providers.facebook">Facebook connected</div>
        <div ng-if="!model.providers.facebook">
            <button type="button" class="anchor" ng-click="connectExternal('facebook')">Connect Facebook</button>
        </div>
        <div ng-if="model.providers.google">Google connected</div>
        <div ng-if="!model.providers.google">
            <button type="button" class="anchor" ng-click="connectExternal('google')">Connect Google</button>
        </div>
        <div ng-if="model.providers.steam">Steam connected</div>
        <div ng-if="!model.providers.steam">
            <button type="button" class="anchor" ng-click="connectExternal('steam')">Connect Steam</button>
        </div>
        <div ng-if="model.providers.twitter">Twitter connected</div>
        <div ng-if="!model.providers.twitter">
            <button type="button" class="anchor" ng-click="connectExternal('twitter')">Connect Twitter</button>
        </div>
        <div ng-if="model.providers.microsoft">Microsoft connected</div>
        <div ng-if="!model.providers.microsoft">
            <button type="button" class="anchor" ng-click="connectExternal('microsoft')">Connect Microsoft</button>
        </div>
        <div ng-if="model.providers.github">Github connected</div>
        <div ng-if="!model.providers.github">
            <button type="button" class="anchor" ng-click="connectExternal('github')">Connect Github</button>
        </div>
        <div ng-if="model.providers.twitch">Twitch connected</div>
        <div ng-if="!model.providers.twitch">
            <button type="button" class="anchor" ng-click="connectExternal('twitch')">Connect Twitch</button>
        </div>
        <div ng-if="model.providers.reddit">Reddit connected</div>
        <div ng-if="!model.providers.reddit">
            <button type="button" class="anchor" ng-click="connectExternal('reddit')">Connect Reddit</button>
        </div>
        <!--
        <div ng-if="model.providers.battlenet">BattleNet connected</div>
        <div ng-if="!model.providers.battlenet">
            <button type="button" class="anchor" ng-click="connectExternal('battlenet')">Connect BattleNet</button>
        </div>
        -->
    </div>
</div>
