.highlighted-content {
  margin-bottom: 40px;
}

.play #header-row {
  background-image: url(../img/play.withSIX/header.jpg?v=#{$cacheBuster});
  background-position: center;
}

.play-game, .no-adds.play-game {
  h1.pagetitle {
    margin-bottom: 24px;
  }

  #header-row {
    $desiredHeight: 264px;

    min-height: $desiredHeight;

    .overlay {
      min-height: $desiredHeight;
    }

    .add-container {
      padding-bottom: 48px;
    }

    position: relative;
    z-index: 1;

    .gradient {
      height: 150px;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;

      @include background-image(linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%));
    }
  }

  &.chromeless {
    #header-row {
      $desiredHeight: 160px;

      min-height: $desiredHeight;

      .overlay {
        min-height: $desiredHeight;
      }

      .add-container {
        padding-top: 32px;
      }
    }
  }

  .tabbar {
    background-color: #fff !important;

    &.subtabbar {
      background-color: transparent !important;
      margin-top: 0px;
    }
  }

  #content-row {
    background: none;

    //padding-top: 32px;
    div.content {
      @include list;

      a {
        text-decoration: none;
      }
    }
  }

  .info-page {
    h3 {
      margin-top: 0;
    }
  }
}

.collections, .collection {
  table {
    img {
      height: 48px;
    }
  }
}

.content-download {
  img {
    @include img-responsive;
  }
}

form[name='editableForm'] {
  span.title {
    width: 120px;
    display: inline-block;
    text-align: right;
    margin-right: 8px;
  }

  .editable-input {
    width: 400px;
  }
}
