<div class="modal-header" style="padding-bottom: 0">
    <h1 style="margin-bottom: 1px">
        <span style="color: red">(BETA)</span> Add <strong style="text-transform: uppercase">{{gameName}}</strong> Mod
    </h1>
    <span style="font-style: italic;">{{quote}}</span>
</div>

<div class="modal-body" style="padding-top: 0">
    <div class="container-fluid"
         style="padding-left: 0; padding-right: 0">
        <div class="row">
            <div class="col-md-6" style="margin-top: 15px">
                <div style="background-color: lightgray; padding-top: 12px">
                    <div style="margin: 0 12px 12px 12px">
                        <strong style="font-size: x-large">NEW COLLECTION</strong>
                        <p>
                            Know what mods best make a pack? Then start here!<br/><br/>
                        </p>
                    </div>
                    <button type="button"
                            style="width: 100%"
                            disabled=""
                            ng-click="okNew()"
                            class="btn btn-primary">
                        Coming Soon
                    </button>
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 15px">
                <div style="background-color: lightgray; padding-top: 12px">
                    <div style="margin: 0 12px 12px 12px">
                        <strong style="font-size: x-large">IMPORT COLLECTION</strong>
                        <p>
                            Have a repository collection you want to import? Enter the Matrix here.
                        </p>
                    </div>
                    <button type="button"
                            ng-click="okImport()"
                            style="width: 100%"
                            ng-if="w6.userInfo.id != null"
                            class="btn btn-primary">
                        Import
                    </button>
                    <button type="button"
                            ng-click="openLoginDialog($event)"
                            style="width: 100%"
                            ng-if="w6.userInfo.id == null"
                            class="btn btn-primary">
                        Login to Add Content
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button"
            ng-click="cancel()"
            class="btn btn-cancel">
        Cancel
    </button>
</div>